 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Vue</title>
	<link rel="stylesheet" type="text/css" href="./semantic.min.css"/>
 	<script type="text/javascript" src="./vue.js"></script>
 </head>
 
 <body>
 	<div id="app">  
		<!-- <div v-on:click="logMessage" v-show="welcome" v-bind:title="title" >
			{{ message }}
		</div>
		<button v-on:click="logMessage">Demo</button>
		<input v-model="message" /> -->
		
		<!-- <div class="ui container">
			<div class="ui hidden divider"></div>
			
			<template v-for="(item, index) in items">
				<div >
					{{ index + 1 }}. {{ item.text }}
				</div>
				
				<div class="ui divider"></div>
			</template>
		</div> -->
		
		<ui-button @increment="incrementTotal"></ui-button>
		<ui-button @increment="incrementTotal"></ui-button>
		<div class="ui red circular label">
			{{ total }}
		</div>
	</div>

 	<script type="text/javascript" src="./index.js" charset="utf-8"></script>
 </body>
 </html>